sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"

notifications:
  email:
    on_success: always

branches:
  except:
    - /^v[0-9]/

install:
  - pip install -r dev-requirements.txt
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install future==0.15.2; fi
  - if [[ "$TRAVIS_PYTHON_VERSION" == "pypy" ]]; then pip install future==0.15.2; fi

script:
  - manage lint
  - manage test

after_success:
  - if [[ "$TRAVIS_PULL_REQUEST" == "true" ]]; then exit 0; fi
  - if [[ "$TRAVIS_BRANCH" != "master" ]]; then exit 0; fi

deploy:
  provider: pypi
  user: reubano
  password:
    secure: N7MPQIBC8UbFhlQtxuNmYJuApcxnDwK3eVD8LN1mP5gtVQjZ82g5sRFcsOmQPgAGSVhSSgdaU63XfXiIDT+62Z9wm+I1eS5eZJ1pGbiqdM7RMUDsfthkRvl5Rret2RgJa5yd8UifDtEPThdbNot7soAfeIq2fnL1jnGG9dw0ffmoh0HQaHnvbAq8aVvAdrp4/KhkvhsKFKcKvAFOJKnw5E0N0ZTuPQk+kxKBlOC7qI8Zy8WY/+pdYHFk0PHQw05Sl/aX5OkQ44Tx6DhQX8gZepQGWfbTpz9m14n1wnJJnXQp+shby3N+0/yiT7KEeQP5YxlFOubSZm5IsuqyWnmm7vIry8Zz8oXn3IadWhoWcUtNJZVvF5rKRJV9V4lU16gj0z06iLJj/U67qEcWy+EufcS6TcxYvTsYzbMfbG1Z4sWEZZySJEqO8oGDMezt+XCGcQoZpJs5hrt8a4KJ1zYHyAJTXeLPce7clFGKFEXOQQiS1tBif6AjVSTWJdj0DEs0xXpk4x9q0/cza7Q+2K7fIFxkntGBfkbdUSL5/INBZ0ph0OGQ/fnTtHnvymx5N4+kqYNCuXxCyWeFzcwEN43G+lMeNlZ6Hj3aYqMYWg/Ji6txNdf6v3ERq0jxEKmdQAoRNMqIQZbozUeFFrOvH2cIQCQFthIHjr1petll71lAzcg=

  distributions: sdist bdist_wheel
  on:
    tags: true
