recursive-include tests *
recursive-include data *
recursive-include helpers *
include examples.py
include LICENSE
include AUTHORS.rst
include CHANGES.rst
include CONTRIBUTING.rst
include TODO.rst
include README.rst
include INSTALLATION.rst
include *requirements.txt
