recursive-include tests *
recursive-include data *
recursive-include helpers *
recursive-include docs *
recursive-include examples *
include LICENSE
include CONTRIBUTING.rst
include README.rst
include *requirements.txt
